.product {
  border: 2px solid var(--border-black);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  height: 70%;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid var(--border-black);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  /* background: var(--light-blue); */
  position: relative;
}

.image > img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.image > div {
  padding: 0.2rem 0.5rem;
  display: inline;
  background: var(--dark-blue);
  border-radius: 10px;
  color: white;
  font-size: 0.8rem;
  font-family: sans-serif;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.info {
  padding: 0.4rem;
}

.title {
  height: 2.5rem;
  overflow: hidden;
}

.price {
  font-size: 1.2rem;
}

/* .description {
  overflow: hidden;
} */
