.navbar {
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  border-bottom: 1px solid var(--dark-blue);
  background: var(--blue);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 2rem;
}

.options {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
