.searchBar {
  /* height: auto; */
  /* width: 50%; */
}

.searchBar > input {
  height: 2rem;
  width: 13rem;
  padding: 0 0.5rem;
  border: 2px solid var(--border-black);
  outline: none;
  position: relative;
  text-transform: capitalize;
}

.searchBar > input:hover {
  border: 2px solid var(--dark-blue);
}

.suggestionBox {
  width: 13rem;
  max-height: 15.4rem;
  overflow: auto;
  background: white;
  color: black;
  position: absolute;
  z-index: 50;
}

.suggestionBox > div {
  height: 1.4rem;
  padding: 0.1rem 0.5rem;
  overflow: hidden;
  border: 1px solid var(--border-black);
  border-top: none;
  cursor: pointer;
  text-transform: capitalize;
}

.suggestionBox > div:hover {
  background: var(--hover-blue);
}

.suggestionBox::-webkit-scrollbar {
  width: 0.3rem;
}

.suggestionBox::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--light-blue);
}

.suggestionBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--blue);
}
