*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --blue: #4a86e8;
  --light-blue: #c9daf8;
  --dark-blue: #0000ff;
  --border-black: #434343;
}

::selection {
  background: var(--dark-blue);
  color: white;
}

.app {
  height: 100vh;
  width: 100vw;
}

.nav {
  height: 10%;
  width: 100%;
}

.body {
  height: 90%;
  width: 100%;
}
